body {
    background-color: #121212;
    color: #f8f9fa;
}

.navbar, .footer {
    background-color: #1e1e1e;
    color: #f8f9fa;
}

.btn-primary {
    background-color: #4a90e2;
    border-color: #4a90e2;
}
